<div class="container pt-5 page {{template|handleize}}" id="page-content-{{page.handle}}">
  <div class="row">
    <div class="col-12 col-lg-6">
      <div class="row">
        <div class="col-12">
          <h1 class="page-title">
            {% include 'utils-translate', translate: page.title, path: 'titles', en: page.metafields["ml_en"]["title"], de: page.metafields["ml_de"]["title"], default: page.title %}
            {{ translated }}
          </h1>
          {% unless page.content == blank %}
            <div class="rte" rv-i18n-html="">
              {% unless page.content == blank %}
                {{page.content}}
                <template lang="default">{{page.content}}</template>
              {% endunless %}
              {% unless page.metafields["ml_de"]["content"] == blank %}
                <template lang="de">{{page.metafields["ml_de"]["content"]}}</template>
              {% endunless %}
              {% unless page.metafields["ml_en"]["content"] == blank %}
                <template lang="en">{{page.metafields["ml_en"]["content"]}}</template>
              {% endunless %}
            </div>
          {% endunless %}
        </div>
      </div>
    </div>
  </div>
</div>
