{% comment %} Translate `translate` if translation is available {% endcomment %}
{% assign _path = path | append: '.' %}
{% assign translateString = translate | handleize | prepend: _path %}
{% assign _translated = translateString | t %}

{% capture translated %}
  <span rv-i18n-html="'{{translateString}}'">
    {% if _translated contains 'translation missing' %}
      {% if default != blank %}
        {{default}}
      {% else %}
        {{translate}}
      {% endif %}
    {% else %}
      {{_translated}}
    {% endif %}
    {% if de != blank %}
      <template lang="de">{{de}}</template>
    {% endif %}
    {% if en != blank %}
      <template lang="en">{{en}}</template>
    {% endif %}
    {% if default != blank %}
      <template lang="default">{{default}}</template>
    {% endif %}
  </span>
{% endcapture %}
