doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title Router Demo SVG Page
  body
    router-view#demo-svg-view(
      listen-all-links="false"
      scroll-to-top="false"
      scroll-to-anchor-hash="false"
      change-browser-url="false"
      prefetch-links="false"
    )
      section.detail(data-namespace="demo-svg-page")
        .content
          h3.mb-2 Transition Complete
          p.mb-3 This is the secondary page of the SVG transition demo.
          a.link(
            rv-route="{'url': 'router-demo-svg.html', 'viewId': 'demo-svg-view'}"
            href="router-demo-svg.html"
          ) Back to home
    script(src="./ts/main.ts" type="module")
